body,
nav,
ul,
li,
div,
button,
h1 {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111827;
}
.game_card {
  height: 550px;
  position: relative;
  width: 280px;
  background-color: #161e2d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.card_img {
  width: 240px;
  height: 150px;
  background-color: azure;
  margin-top: 25px;
  border-radius: 5px;
  background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/mwiii/MWIII-REVEAL-FULL-TOUT.jpg");
  background-size: cover;
  background-position: center center;
}
.card_text {
  position: absolute;
  top: 190px;
  left: 18px;
  color: green;
  font-size: 12px;
  font-family: "Kanit", sans-serif;
  font-weight: bolder;
}
.main_title {
  top: 210px;
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.main_desc {
  color: white;
  top: 300px;
  font-weight: normal;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.card_end {
  height: 2px;
  width: 240px;
  position: absolute;
  background-color: rgba(41, 51, 71, 0.5);
  top: 480px;
  border-radius: 10px;
}
.read_more {
  top: 500px;
}
.read_more > a {
  text-decoration: none;
  font-size: 15px;
  color: yellow;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.date {
  top: 502px;
  left: 160px;
  font-size: 13px;
  color: grey;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}
